.wrapper {
   width: 100%;
   height: 100%;
}
.item {
   padding: 10px 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   cursor: pointer;
   &:hover {
      background-color : #ededed;
   }
   &:hover .options {
      display: block;
   }
}
.img {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   overflow: hidden;
   background-color: #ccc;
   margin-right: 10px;
   img {
      object-fit: cover;
      width: 56px;
      height: 56px;
   }
}
.info {
   width: 80%;
   margin-right: 10px;
}
.name {
   font-size: 1.6rem;
   color: #333;
}
.content {
   display: flex;
   align-items:center;
   justify-content: flex-start;
}
.message {
   font-size: 1.4rem;
   color :#333;
   max-width: 190px;
   display: inline-block;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.time {
   margin-left: 10px;
   font-size: 1.2rem;
   color: rgba(22, 24, 35, 0.5);
   white-space: nowrap;
}
.options {
   position: absolute;
   top: 0;
   right: 20px;
   background-color: transparent;
   height:100%;
   cursor: pointer;
   svg {
      font-size: 2rem;
   }
   display: none;
}