.wrapper {
   margin-top: 1rem;
   width: 100%;
}

.header {
   margin-top: 6rem;
   h3 {
      font-weight: 700;
      font-size: 5rem;
   }
   p{
      font-size:300;
      font-size: 1.8rem;
      color: rgb(138, 139, 145);
   }
} 
.content {
   display: flex;
   margin-top: 4rem;
}
.file {
   background: rgba(22, 24, 35, 0.03);
   border-radius: 8px;
   display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   width: 30%;
   height: 55.4rem;
}
.card {
   text-align: center;
}
.iconUpload {
   font-size: 5rem;
   color: #dddedf;
}
.text_main {
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   color: rgba(22, 24, 35, 0.34);
}
.text_sup {
   margin-top: 15px;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
   color: rgba(22, 24, 35, 0.34);
}
.text_list {
   font-weight: 400;
   font-size: 14px;
   color: rgba(22, 24, 35, 0.34);
   text-align: left;
   list-style: none;
   margin-top: 2rem;
   
}
.text_item {
   display: flex;
   align-items: center;
}
.dot {
   font-size:2rem;
}
.form {
   margin-left: 6rem;
   width: 60%;
}
.container {
   &_text {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
   }
}
.title_font {
   font-size: 2.2rem;
   font-weight: 600;
}
.require_font {
   font-weight: 400;
   font-size: 13px;
   line-height: 17px;
   color: rgba(22, 24, 35, 0.5);
   white-space:pre-line;
}
.input {
   width: 100%;
   display: flex;
   justify-content:space-between;
   align-items: center;
   border: 1px solid #e3e3e4;
   background-color: #fff;
   border-radius:4px;
   margin-top:1rem;
   padding: 1.2rem 1.5rem;
   &_text {
      user-select: text;
      outline: none;
      white-space: pre-wrap;
      font-size: 1.8rem;
      overflow-wrap: break-word; 
      max-width: 90%;
   }
  
}
.input:focus-within {
   border: none;
   box-shadow: 2px 5px 20px 1px rgb(211, 211, 211);
}
.icon {
   display: flex;
   button {
      display: flex;
      align-items: center;
      font-size:1.8rem;
      background-color: transparent;
      margin-left: 8px;
   }
}
.form_item {
   margin-top: 3rem;
   .title {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 32px;
      vertical-align: top;
      color: rgb(0, 0, 0);
      margin-bottom: 12px;
   }
   &_container {
      border: 1px solid rgba(22, 24, 35, 0.12);
      border-radius: 2px;
      padding : 9px;
      height: 14rem;
      &_cover {
         background-color: rgba(22, 24, 35, 0.03);
         width: 66px;
         height: 100%;
         object-fit: cover
      }
   }
   &_flex {
      margin-top: 45px;
      display: flex;
   }
   &_select {
      width: 50%;
      .title {
         font-weight: 600;
         font-size: 20px;
         vertical-align: top;
         color: rgb(0, 0, 0);
         margin-bottom: 12px;
      }
      label {
         display: inline-flex;
         align-items: center;
         input {
            font-size: 12px;
         }
         span {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 400;
         }
      }
      label + label {
         margin-left:3.2rem;
      }
   }
}

.scheduled {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin-top: 3rem;
   &_title {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 32px;
      vertical-align: top;
      color: rgb(0, 0, 0);
      margin-bottom: 12px;
      margin-top: 6px;
   }
   &_icon {
      background-color: transparent;
      margin-left: 7px;
      color: #999;
      font-size: 16px;
   }
   &_switch {
      display: inline-block;
      position: relative;
      width: 43px;
      height: 25px;
      border-radius: 22px;
      background: rgba(22, 24, 35, 0.12);
      cursor: pointer;
      margin-left: 10px;
      bottom: 4px;
      .switch {
         position: absolute;
         top: 2px;
         left: 2px;
         width: 21px;
         height: 21px;
         border-radius: 100%;
         background: rgb(255, 255, 255);
         box-shadow: rgb(0 0 0 / 25%) 0px 1px 2px;
         transform: translateX(0px);
         transition: transform 200ms ease-in-out 0s;
      }
   }
}

.on {
   background-color:#67dca0;
   .switch {
      left:20px;
   }
}
.form_btn {
   margin: 3rem 0 10rem 0 ;
   float: right;
}