.wrapper {
    padding : 15px 0 ;
    border-bottom: 1px solid #e7e7e9;
}

.heading {
    font-size : 1.4rem;
    font-weight : 300;
    margin-bottom: 8px;
    color: rgba(22,24,35,0.75);
}

.inner {
    &.closed {
        max-height: 300px;
        overflow: hidden;
    }
}

.seeAll {
    padding-left: 16px;
    margin: 12px 0 10px 0;
    color: var(--primary-color);
    cursor: pointer;
    user-select: none;

    span {
        font-size : 1.6rem;
        font-weight : bold;
    }
}

.chevronDown {
    margin-left: 10px;
}

.accountItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding : 5px 4px ;
    color: var(--text-color);
}
.accountItem:hover {
    background-color:rgba(22, 24, 35, 0.03);
}
.accountAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #999;
    overflow: hidden;
}
.accountBox {
    margin-left: 15px;
    transition: background-color 0.2s linear;
}

.accountTitle {
    font-size: 1.6rem;
    font-weight: bold;
    max-width: 125px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.accountDesc {
    font-size: 1.4rem;
    color :#555;
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.checkCircleIcon {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 8px;
    margin-bottom: 6px;
    display: inline-block;
}
