.wrapper {
    margin-top: 40px;
}

.itemBox {
    width: 100%;
    height: 304px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    display: block;
}
.itemVideo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.itemInfo {
    position: absolute;
    top: 45%;
    width: 100%;
    display:flex;
    align-items:center;
    flex-direction: column;
    color: #fff;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    max-width: 210px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nickname {
    font-size: 14px;
    margin: 3px 0 ;
}
.checkCircleIcon {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 8px;
}
.shareLink {
    display: block;
}
.contactLink {
    display: flex;
    flex-direction: column;
}
.btnFollow {
    z-index: 100;
}