.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.closeBtn {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #5a5a5a;
    top: 3%;
    left: 1.5%;
    z-index: 12;
}
.volume {
    position: absolute;
    top: 3%;
    z-index:1000;
    left: 10%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color:#605d5f;
    // display: none;
    display:flex;
    align-items: center;
    justify-content: center;
    &Icon{
        color:#fff;
        font-size: 1.6rem;
    }
}
.timesIcon {
    font-size: 2rem;
    color: #fff;
}
.logoDetail {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 3%;
    left: 6%;
    z-index: 12;
}
.inner {
    display:flex;
}
.postContent {
    display: flex;
    flex-direction: column;
    width: 40%;
}