.wrapper {
    background-color: #fff;
    width: 100%;
    padding: 50px 30px 20px;
}
.itemBox {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    position: relative;
    padding-bottom: 15px;
}
.itemAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.itemName {
    margin-left: 10px;
}
.nickname {
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color);
    &:hover{
        text-decoration: underline;
    }
}
.checkCircleIcon {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 5px;
    position: relative;
    top: -2px;
}
.name {
    font-weight: 400;
    font-size: 14px;
    color: #717279;
}
.follow {
    position: absolute;
    right: 0;
}
.content {
    font-size: 16px;
    font-weight:normal;
    margin-bottom: 5px;
    span {
        font-weight: 600;
    }
}
.audio {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    color: #000;
}
.music {
    font-size:1.8rem;
}
.song {
    font-size:1.8rem ;
    margin-left: 5px;
    font-weight: 600;
}
.reaction {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 15px 0;
}
.reactionWrapper,
.reactionItem {
    display: flex;
    align-items:center;
}
.reactionIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f1f1f2;
    display: flex;
    align-items:center;
    justify-content: center;
}
.reactionItem + .reactionItem {
    margin-left: 20px;
}
.icon {
    font-size:1.8rem;
    color: #2c2e38;
}
.amount {
    margin-left:8px;
    font-size:1.4rem;
    color: #0d0d0d;
}
.reactionBox {
    display: flex;
    align-items:center;
}
.reactionShare {
    font-weight: 600;
    margin-right: 8px;
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.4rem;
}
.icon {
    margin:0 5px;
    font-size: 2rem;
}
.searchIcon{
    display: flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
}
.liked {
    color: var(--primary-color)
}
.searchIcon +.searchIcon {
    margin-left: 8px;
}
.whatsapp {
    color: #25d366;
    border-radius: 50%;
    font-size: 24px;
}
.facebook {
    color: #0075fa;
    font-size: 24px;
}
.twitter {
    color: #1da1f2;
    font-size: 25px;
}
.code {
    color: #50525a;
    font-size: 25px;
    border-radius: 50%;
}
.copyLink {
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: nowrap;
    padding: 5px 10px;
    border: 1px solid #f0f0f0;
}
.link {
    font-size:1.2rem;
    color: #707278;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    
}
.copy {
    display: flex;
    align-items:center;
    justify-content:flex-end;
    cursor: pointer;
    min-width: 20%;
    margin-left: 5px;
    &:hover {
        color: var(--primary-color);
    }
    span {
        font-size: 1.3rem;
        margin-left: 5px;
    }
    &Icon {
        font-size:1.8rem;
    }
}
.report {
    display: none;
}