.wrapper {
    padding: 36px 20px 36px 70px;
}
.profileInfo {
    margin-bottom: 2px;
    max-width: 80%;
    position: relative;
}
.shareInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.shareTitle {
    margin-left: 20px;
    max-width: 400px;
}
.nickname {
    font-weight: 700;
    font-size: 3.2rem;
}
.checkCircleIcon {
    font-size:20px;
    color: #20d5ec;
    margin-left: 8px;
    position: relative;
    top: -5px;
}
.fullname {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 4px;
}
.is_followed {
    display: flex;
    align-items: center;
}
.unfollow {
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(235, 235, 235);
    display: flex;
    border-radius: 3px;
    margin-left: 10px;
    &:hover {
        background-color: #f3f3f3;
    }
    svg {
        font-size: 20px;
        position: relative;
        left: 2px;
    }
}
.countInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.count {
    font-size: 20px;
    color: #333;
    font-weight: 500;
}
.countTitle {
    font-size: 16px;
    margin-left: 8px;
    color: #333;
    font-weight: 200;
}
.number + .number{
    margin-left: 15px;
}
.description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: rgb(18, 18, 18);
}
.contactLink {
    display: flex;
    flex-direction: column;
}
.shareLink {
    margin-top: 8px;
    font-size:14px;
    font-weight: 700;
    color: var(--text-color);
    &:hover {
        text-decoration: underline;
    }
}

.reportIcon {
    display: none;
    font-size: 24px;
    color: var(--text-color);
    position:absolute;
    top:0;
    right: 0;
    cursor: pointer;
}
.layoutMain {
    width: 80%;
}
.videoTap {
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
    margin-bottom: 2px;
}
.videos,
.likes {
    width: 50%;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 5px 0 ;
    margin-top: 20px;
    span {
        font-weight: 700;
        font-size: 18px;
        color: rgba(18, 18, 18, 0.5);
    }
}
.line {
    position: absolute;
    width: 50%;
    height: 2px;
    background: rgb(22, 24, 35);
    left: 0px;
    bottom: 0px;
    transition: transform 0.3s ease 0s;
}
.line.like {
    transform: translateX(291px);
}
.layoutMain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.videoItem {
    width: calc(33% - 0.5px);
    height: 260px;
    padding-bottom: 3px;
    position: relative;
    display:inline-block;
}
.videoItem:nth-child(3n+2){
    margin: 0 3.5px;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}
.videoView {
    position: absolute;
    color: #fff;
    top: 90%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        margin-left: 3px;
        font-size: 14px;
        font-weight:600;
    }
}
.bsplay {
    font-size: 22px;
}