.wrapper {
   flex: 1;
   margin-left: 15px;
   height: 100%;
   background: #fff;
   border-radius: 15px;
   box-shadow: 1px 10px 10px 2px #d6d6d6;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.header {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding : 20px 20px;
   border-bottom: 1px solid #f1f1f1;
   z-index: 2;
   background-color:#fff;
}
.avatar {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   overflow: hidden;
   background-color: rgb(186, 186, 186);
   margin-right: 15px;
   cursor: pointer;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.info {
   display: flex;
   flex-direction: column;
}
.fullname {
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   display: inline-block;
   cursor: pointer;
    
}
.nickname {
   font-weight: 400;
   margin-top: 2px;
   font-size: 16px;
   line-height: 22px;
   color: rgba(22, 24, 35, 0.75);
   display: inline-block;
   cursor: pointer;
}
.content {
   flex: 1;
   display: flex;
   flex-direction: column-reverse;
   max-height: 480px;
}

.item {
   display: flex;
   padding : 15px 26px;
   align-items: flex-start;
   justify-content : flex-start;
}

.avatarItem {
   width: 42px;
   height: 42px;
   border-radius: 50%;
   overflow: hidden;
   background-color: rgb(186, 186, 186);
   margin-right: 15px;
   cursor: pointer;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.box {
   margin-right: 8px;
   margin-left: 0px;
   background: rgba(22, 24, 35, 0.06);
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: 1px solid #ccc;
   width: 60%;
   position: relative;
   .message {
      font-size: 16px;
      line-height: 22px;
      word-break: break-word;
      white-space: pre-line;
      color:#444;
   }
   &:hover .option {
      display: block;
   }
}
.option {
   cursor: pointer;
   position: absolute;
   top: 0;
   right: -10%;
   display: none;
   width: 46px;
   text-align: center;
   height: 40px;
   svg {
      font-size: 26px;
   }
}
.item.mySelf {
   align-items: flex-start;
   flex-direction: row-reverse;
   .option {
      left: -10%;
   }
}
.footer {
   padding: 15px 25px;
   border-top: 1px solid #ccc;
   display: flex;
   align-items: center;
   width: 100%;
}
.editor {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.input {
   display: flex;
   padding: 6px 10px;
   align-items: center;
   background-color: #f1f1f2;
   border-radius: 5px;
   width: 100%;
   input {
      font-size: 16px;
   }
}
.emoji {
   padding: 0 10px;
   svg {
      font-size: 26px;
      font-weight: bold;
   }
}
.send {
   margin-left: 10px;
   display: flex;
   cursor: pointer;
   align-items: center;
   display: none;
   svg {
      font-size: 28px;
      color: var(--primary-color);
   }
}