.wrapper {
   padding: 20px 0 0 24px;
   width: 100%;
   border-bottom: 1px solid rgba(22, 24, 35, 0.12);

   h2 {
      font-size: 3rem;
      color: rgb(22, 24, 35);
      padding-bottom: 16px;
   }
}
