.fillFixed {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.wrapper {
   @extend .fillFixed;
   z-index: 9999;
   display: flex;
   align-items: center;
   justify-content: center;
}

.overlay {
   @extend .fillFixed;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: -1;
}

.body {
   position: relative;
   padding: 20px;
   border-radius: 8px;
   background-color: #fff;
   min-width: 380px;
   min-height: 240px;
}

.closeBtn {
   position: absolute;
   top: 16px;
   right: 16px;
   width: 32px;
   height: 32px;
   border-radius: 50%;
   background-color: #f1f1f1;
   display: flex;
   cursor: pointer;
   z-index: 10;
}

.closeIcon {
   color: #555;
   margin: auto;
   font-size: 1.6rem;
}
