.wrapper {
    width: 100%;
    height: auto;
    padding: 10px 0 30px;
}
.item {
    display: flex;
    flex-wrap: wrap;
}
.moreWord,
.Copyright,
.link{
    font-size:1.2rem;
    cursor: pointer;
    color:#999 !important;
    padding: 3px 0 ;
    transition: all .2s linear;
}
.link:hover {
    text-decoration: underline;
}
.link:not(:last-child) {
    margin-right: 6px;
}
.moreWord {
    padding: 5px 0 ;
}
