.wrapper {
    height:60%;
    background-color: #f8f8f8;
    border-top: 1px solid #dadada
}
.box {
    display: flex;
    align-items:center;
    flex-direction:column;
    height: 100%;
    justify-content:center;
}
.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 8px;
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(22, 24, 35, 0.75);
    margin-bottom: 20px;
}
.question {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(22, 24, 35);
    margin-top: 20px;
    span{
        font-weight: 600;
        cursor: pointer;
        color: var(--primary-color)
    }
}
.comment {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;

    .inner {
        padding: 0 25px;
        overflow: hidden;  
        max-height: 340px;
    }

    &_post {
        border-top: 1px solid #dadada;
        display: flex;
        align-items: center;
        padding : 0 25px;
        justify-content:space-between;
        background-color: #fff;
        position: fixed;
        bottom:0;
        right: 0;
        width: 40%;
        height: 70px;
    }
    &_input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        width: 90%;
        padding: 10px 15px;
        background-color: #f1f1f2;
        border-radius: 8px;
        input {
            width: 80%;
            background-color: #f1f1f2;
            
        }
        &:focus-within {
            border: 1px solid rgb(209, 209, 209);
        }
    }
    &_icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 22px;
            margin-left: 10px;
        }
    }
    &_btn {
        font-size:1.4rem;
        &_on {
            color: var(--primary-color);
            font-weight: 800;
        }
    }
}

.item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding : 10px 0 ;
    &:hover .option {
        display: block;
    }
}


.avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info {
    width: 85%;
    &Name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h3 {
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    p {
        color: #121212;
        overflow: hidden;
        font-size: 14px;
        word-break: break-word;
    }
    span {
        font-size: 12px;
        color: rgba(18, 18, 18, 0.5);
    }
    .author {
        color:var(--primary-color);
        margin-left: 5px;
        font-size: 14px;
        font-weight: 600;
    }
}
.icon {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size:18px;
    color : #c6c7c9;
    margin-top: 16px;
    width: 5%;
    span {
        font-size: 14px;
    }
}
.option {
    position: absolute;
    right: 3px;
    top: 0;
    display: none;
    svg {
        font-size:24px;
    }
}
.checkCircleIcon {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 8px;
    margin-bottom: 5px;
    display: inline-block;
}