.wrapper {
    padding: 16px 0px 16px 40px;
    flex: 1;
}
.itemBox {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 16px;
    border-bottom: 1px solid #ededef;
    cursor: pointer;
    transition: background-color 0.2s linear;
    &:hover {
        background-color: #f8f8f8;
    }
}
.avatar {
    background-color: #999;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
        
    }
}
.itemInfo {
    margin-left: 20px;

}
.nickname {
    span {
        font-size: 18px;
        font-weight: bold;
        color: rgb(22, 24, 35);
    }
}
.checkCircleIcon {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 8px;
}
.subtitle {
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.fullname {
    font-weight: 400;
    font-size: 14px;
    color: rgba(22, 24, 35, 0.75);
} 
.count {
    margin-left: 5px;
}
.countFollower {
    font-size: 14px;
    font-weight: 600;
    color: rgb(22, 24, 35);
}
.followers {
    font-weight: 300;
    font-size: 13px;
    color: rgba(22, 24, 35, 0.75);
    margin-left: 3px;
}
.description {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
}
.loadMore {
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    span{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: rgba(22,24,35,0.5);
        cursor: pointer;
    }
}
.chevronDown {
    margin-left: 4px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(22,24,35,0.5);
    position: relative;
    top: 4px;
}
