.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: url("../../assets/img/404_background.png") transparent center/cover no-repeat;
 }
 
 .title {
   padding-top: 65px;
   font-size: 30rem;
 }
 
 .icon404 {
   vertical-align: middle;
   width: 220px;
   height: 220px;
 }
 
 .desc {
   font-size: 1.6rem;
   font-weight: 600;
   margin-top: -70px;
   color: rgba(22,24,35,0.5);
 }
 
 .subTitle {
   margin-top: 40px;
   font-size: 2rem;
 }
 
 .button {
   text-align: center;
   margin-top: 32px;
   width: 360px;
   margin-bottom: 198px;
 color: #fff !important;
 }
 
 .playIcon {
   margin-right: 5px;
 }
 