.wrapper {
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 4px;
}
.wrapper + .wrapper {
    margin-left: 16px;
}
.normal {
    background: #fff;
    color: var(--text-color);
}

.primary { 
    background-color: var(--primary-color);
    color: #fff;
    transition: background-color 0,2s linear;
    &:hover { 
        background-color: #ef2950;
    }
}

.borderBlack,
.border {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
    background-color: #fff;
    transition: background-color 0.2s linear;
    &:hover {
        background-color:#f8f8f8;
    }
}
.borderBlack {
    border: 1px solid #ccc;
    color: var(--text-color);
}

.underline {
    &:hover {
        text-decoration: underline;
    }
}
.disabled {
    color: rgba(22,24,35,.3);
    background-color: rgba(22,24,35,.06);
    pointer-events: none;
}

.s {
    padding: 3px 16px;
    min-width: 88px;
    height: 28px;
    font-size:1.6rem;
}
.ss {
    padding: 8px 12px ;
    min-width: 150px;
    height:4rem;
}
.ssm {
    padding: 8px 12px ;
    min-width: 208px;
    height:3.2rem;
}

.m {
    padding: 10px 16px ;
    min-width: 100px;
    height:3.6rem;
}
.ms{
    padding: 14px 16px ;
    min-width: 150px;
    height:4.8rem;
}

.l {
    padding: 14px 16px;
    min-width: 208px;
    height: 4.8rem;
}
