.wrapper {
   padding : 6px 0 ;
}
.shareBtn {
   display : flex;
   align-items:center;
   justify-content: flex-start;
   padding: 8px 0 8px 16px;
   transition: background-color 0.2s linear;
   cursor: pointer;
   &:hover {
      background-color:rgb(245, 245, 245);
   }
}
.shareBtn +.shareBtn {
   border-top: 1px solid #e8e8e8;
}
.title {
   margin-left: 16px;
   font-size: 1.4rem;
   font-weight: 600;
   color: #444;
}
.icon {
   font-size: 2.5rem;
}
.code {
   color: #50525a;
   border-radius: 50%;
}
.whatsapp {
   color: #25d366;
}
.twitter {
   color: #1da1f2;
}
.pinterest {
   color: #e60019;
}
.reddit {
   color: #ff4500;
}
.facebook {
   color: #2086fb;
}
.link {
   color: #fe3e64;
}
