.wrapper {
    width: 60%;
    position: relative;
    height:100vh;
    overflow: hidden;
    cursor: pointer;
    &:hover .volume{
        display: flex;
    }
}
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
}
.video {
    width: 75%;
    position: absolute;
    top:0;
    left: 50%;
    z-index: 11;
    transform: translateX(-50%);
    height:100vh;
    outline: none;
}
.volume {
    position: absolute;
    top: 3%;
    z-index:1000;
    left: 22%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color:#605d5f;
    display: none;
    align-items: center;
    justify-content: center;
    &Icon{
        color:#fff;
        font-size: 1.6rem;
    }
}
.report {
    
    position: absolute;
    top: 5%;
    z-index:11;
    right: 3%;
    font-size:1.5rem;
    color: #928e8d;
    cursor: pointer;
    display: none;
    align-items: center;
    span {
        margin-left: 5px;
        font-weight: 700;
    }
}
.flapIcon {

}

.controlLeft,
.controlRight {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #585859;
    top: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 12;
}
.controlLeft {
    left: 3%;
}
.controlRight {
    right: 3%;
}
.controlIcon {
    font-size:1.6rem;
    color:#fff;
}
.controlPlay {
    color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    font-size:48px;
    transform: translate(-50% ,-50%);
    z-index: 11;
}