.wrapper{

}

.footer{
   background-color:#000;
   padding-top: 4rem;
   &_container {
      width: 1100px;
      margin: 0 auto;
   }
   &_content {
      display:flex;
      align-items: flex-start;
      justify-content:space-between;
      padding-bottom: 50px;
      &_column {
         display: flex;
         flex-direction: column;
         h2 {
            color: #fff;
            font-size: 1.4rem;
            margin-bottom: 10px;
         }
         span {
            margin-bottom: 5px;
            padding-bottom: 1px;
            a {
               cursor: pointer;
               color: #bfcccc;
               font-size: 1.2rem;
               border-bottom: 2px solid transparent;
               &:hover {
                  border-bottom: 2px solid #bfcccc;
               }
            }
         }
      }
   }
   &_logo {
      display: flex;
      img + img {
         margin-left: 5px;
      }
      img:last-child {
         position: relative;
         top: 4px;
      }
   }
   &_bottom {
      display: flex;
      align-items:center;
      justify-content: space-between;
      padding-bottom: 20px;
   }
}
.language_selection {
   padding: 0.5rem 1rem;
   border : 0.5px solid rgb(174, 174, 174);
   border-radius: 3px;
   cursor: pointer;
   span {
      color: #fff;
      font-size: 1.4rem;
   }
   button {
      font-size: 1.6rem;
      margin-left: 8.3rem;
      background-color: transparent;
      color: #fff;
      position: relative;
      top: 2px;
   }
}
.copyright {
   color: rgb(160, 160, 160);
   font-size: 1.2rem;
}