$height: 60px;

.wrapper {
    border-bottom: 1px solid rgba(34,90,89,0.2);
    height: $height;
    position :sticky ;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}
.content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: $height;
}
.logoBox {
    img:last-child {
        margin: 0 0 2px 4px;
    }
}
.searchBox {
    position: relative;
    padding: 0 0 0 1.6rem;
    background: rgba(22,24,35,0.06);
    border-radius:9.2rem;
    border: 1px solid transparent;
    display: flex;
    &:focus-within {
        border: 1px solid #ccc;
    }

    &::after {
        content:"";
        display: block;
        position: absolute;
        width: 1px;
        height: 28px;
        top: 10px;
        right: 49px;
        background: rgba(22,24,35,0.12);
    }
    input {
        width: 292px;
        padding: 14px 0;
        font-size: 1.6rem;
        font-weight: 300;
        caret-color: var(--primary-color);
        background-color: transparent;
        &::placeholder {
            font-size: 1.4rem;
            
        }
    }
}
.search {
    display: inline-block;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    padding: 11px 15px 15px;
    &:hover {
        background: rgba(22,24,35,0.03);
        cursor: pointer;
    }
}

.searchIcon {
    font-size: 2rem;
    color:#a7a7ab;
    position: relative;
    top: 1px;
}
.iconClear {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner,
.timesCircleIcon {
    color: #a7a7ab;
    margin: 0 12px;
    position: relative;
    cursor: pointer;
}
.timesCircleIcon {
    font-size: 1.5rem;
}
.spinner {
    animation: rotate linear 1s infinite;
    top: 2px;
    font-size: 1.8rem;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.ellipsisIcon {
    font-size:16px;
    margin-left: 16px;;
}


.headerRight {
    display: flex;
    align-items:center;
    justify-content:center;
}
.icon {
    font-size: 26px;
    margin-right: 20px;
    display:flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.avatarUser {
    cursor: pointer;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}
.previewWrapper {
    padding: 8px 0 0;
}
.optionBox {
    display: none;
}