.wrapper {
   padding : 8px 0;
}
.item {
   cursor: pointer;
   display: flex;
   align-items:center;
   justify-content:flex-start;
   padding : 5px 15px;
   transition: all 0.2s linear;
   .icon {
      font-size: 24px;
      margin-right: 16px;
      position: relative;
      top: 3px;
   }
   .title {
      font-size: 16px;
      font-weight: 500;
   }
   &:hover {
      background-color: rgb(238, 238, 238);
   }
}
.logOut {
   border-top: 1px solid rgb(233, 233, 233);
   margin-top: 8px;
}