.wrapper {
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    width: 25rem;
    bottom:0;
    top : 60px;
}

.wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #e4e4e4;
	border-radius: 10px;
	background-color: #fff;
}

.wrapper::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.wrapper::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px #f1f1f1;
	background-color: #d8d8d8;
}

.topSidebar {
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    border-bottom: 1px solid #e7e7e9;
}

.navItem {
    padding : 15px 15px;
    width: 100%;
    transition : background-color 0.2s linear;
    color: var(--text-color);
    span {
        font-size: 2.2rem;
        font-weight: 500;
        margin-left: 12px;
    }
    &.active {
        span {
            font-weight: 800;
        }
    }
}
.navItem:hover {
    background-color:#f3f3f5;
}

.navIcon {
    font-size:2.4rem;
}

.helpText {
    margin: 48px 0 20px;
    font-size: 1.4rem;
    color: rgba(22,24,35,0.5)
}
.active {
    color: var(--primary-color)
}