.wrapper {
   position: relative;
   cursor: pointer;
   padding: 16px;
}
.avatar {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}
.nickname {
   font-size: 1.6rem;
   color: var(--text-color);
   font-weight: 900;
}
.checkCircleIcon {
   color: #20d5ec;
   font-size: 1.4rem;
   margin-left: 6px;
}
.fullname {
   font-size: 1.4rem;
   margin-bottom: 8px;
}
.analyticsItem +.analyticsItem {
   margin-left: 5px;
}
strong {
   margin-right: 4px;
   color: var(--text-color);
}
.analyticsItem {
   font-size: 1.8rem;
   color : #444;
   font-weight:300;
}
.btnFollow {
   position: absolute;
   top: 16px;
   right: 16px;
}
.description {
   border-top: 1px solid #e2e2e2;
   margin-top: 8px;
   padding-top: 8px ;
}
.bio {
   font-size: 1.4rem;
   color : #333;
}