.wrapper {
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    padding : 40px 20px 30px 20px ;
    &+.wrapper{
        border-top: 1px solid #e3e3e4;
    }
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
    background: rgb(212, 211, 211);
}
.itemBox {
    position: relative;
    flex:1;
}
.nickname {
    font-size: 1.6rem ;
    font-weight: bold;
    color: var(--text-color);
    &:hover{
        text-decoration: underline;
    }
}
.checkCircleIcon {
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 5px;
}
.name {
    font-size: 1.4rem;
    color: #555;
    margin-left: 8px;
}
.dot {
    margin:0 8px;
}
.time {
    font-size: 1.4rem;
    color: #555;
}
.content {
    font-size: 1.6rem;
    color: #222;
    span {
        font-size: 1.4rem;
        font-weight:bold;
    }
}
.music {
    font-size: 1.6rem;
    margin-right: 5px;
}
.audio {
    margin: 10px 0 ;
}
.song {
    font-size: 1.4rem ;
    font-weight: 500;
}
.follow {
    position: absolute;
    top: 0;
    right: 12%;
}
.postBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.videoBox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.2 linear;
    // &:hover .report,
    &:hover .play,
    &:hover .volume{
        display: block;
    }
}
.video {
    border-radius: 5px;
    outline: none;
}
.report {
    position: absolute;
    top: 4%;
    right: 4%;
    color: #fff;
    font-size:1.4rem;
    display: flex;
    align-items:center;
    cursor: pointer;
    span {
        font-weight: 600;
        margin-left: 5px;
    }
    display: none;
}
.play,
.volume {
    position: absolute;
    bottom: 10px;
    color: #fff;
    display: none;
}
.play {
    font-size: 2.8rem ;
    left: 8%;
}
.volume {
    font-size: 2.6rem ;
    right: 8%;
}
.block {
    display: block;
}
.reaction {
    margin-left: 15px;
    
}

.reactionIcon {
    cursor: pointer;
    background-color: #f1f1f2;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s linear;
    margin-top: 10px;
}
.reactionIcon:hover {
    background-color: #d0d1d3;
}
.icon {
    font-size: 2.2rem;
    color: #333;
}
.amount {
    text-align: center;
    margin-top: 5px;
    font-size: 1.2rem;
}
.itemTitle ,
.content,
.audio{
    max-width: 500px;
}
.itemTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.waypoint {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.liked {
    color: var(--primary-color);
}