@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #fe2c55;
    --text-color: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body {
    overflow-y: overlay;
}

body::-webkit-scrollbar-track
{
    background: transparent;
}

body::-webkit-scrollbar
{
	width: 8px;
}

body::-webkit-scrollbar-thumb
{
    background: #D9D9D9;
    border-radius: 10px;
}
input,button {
    outline: none;
    border: none;
}

a[href] {
    
    text-decoration: none;
}
