.wrapper {
   background-color: #f8f8f8;
   height:calc(100vh - 60px);
   width: 100%;
   position: relative;
}
.btn_back {
   position: absolute;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #e4e4e4;
   border-radius: 50%;
   cursor: pointer;
   left: 8%;
   top: 25px;
   &:hover {
      background-color: #cecece;
   }
   svg {
      font-size: 20px;
   }
}
.main {
   width: 1150px;
   margin: 0 auto;
   display: flex;
   padding-top: 20px;
   padding-bottom: 10px;
   height: 100%;
}
.commentBox {
   width: 35%;
   height: 100%;
   background: #fff;
   border-radius: 15px;
   box-shadow: 1px 10px 10px 2px #d6d6d6;
}
.commentHeader {
   padding: 15px 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.title {
   font-weight: 700;
   max-width: 240px;
   font-size: 24px;
   color: rgb(0, 0, 0);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.setting {
   background-color:transparent;
   cursor: pointer;
   svg {
      font-size: 26px;
   }
}
.commentList {
   max-height: 565px;
}