.wrapper {
   min-width: 480px;
}

.heading {
   font-size: 2rem;
   margin: 26px 0;
   text-align: center;
}

.methodItem {
   display: flex;
   align-items: center;
   justify-content:flex-start;
   height: 46px;
   border: 1px solid rgba(22,24,35,.12);
   cursor: pointer;
   + .methodItem {
      margin-top: 16px;
   }
}
.img {
   width: 24px;
   min-width: 24px;
   object-fit: cover;
}

.methodIcon {
   width: 44px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-right: 1px solid rgba(22,24,35,.12);

   * {
      font-size: 1.6rem;
      color: #333;
   }
}

.methodBody {
   flex: 1;
   align-items:center;
}

.title {
   font-size: 1.6rem;
   text-align: center;
   width: 100%;
}
.footer {
   margin-top: 20px;
   padding: 5px 25px;
   display: flex;
   justify-content:space-between;
   align-items: center;
   border-top: 1px solid rgb(226, 226, 226);
}
.footerBox {
   font-size: 1.4rem;
}
.footerLink {
   font-weight: 600;
   color: var(--primary-color);
   margin-left: 4px;
   cursor: pointer;
}
.btnHelp {
   font-size: 20px;
   color: #999;
   cursor: pointer;
   padding:5px;
}

.backBtn {
   position: absolute;
   top: 0;
   left: 0;
   background-color: transparent;
   font-size: 2rem;
   padding: 24px 20px;
   cursor: pointer;
}
.body {
   width: 320px;
   margin: auto;
}