.wrapper {
   width: 100%;
}

.item {
   padding: 8px 16px;
   width: 100%;
   display: block;
   &:hover {
       cursor: pointer;
       background-color: #f3f2f2;
   }
}

.title {
   font-size: 1.6rem;
   font-weight: 600;
   color: var(--text-color);
}

.description {
   font-size: 1.2rem;
   font-weight: 300;
   color: var(--text-color);
   opacity: 0.8;
}



.checkCircleIcon {
   color: #20d5ec;
   font-size: 1.4rem;
   margin-left: 8px;
}
.viewALL {
   padding : 12px 16px ;
   font-size:1.4rem;
   color: var(--text-color);
   cursor: pointer;
   font-weight: 600;
   &:hover {
      background-color:#f3f2f2;
   }
}